.tab {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #dfdfdf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px;
  cursor: pointer;
}
.tab--no-bb {
  border-bottom: 0;
  background: #f1f1f1;
}
.tab--disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.tab__number {
  font-size: small;
  align-self: flex-end;
  padding-right: 4px;
}
.tab p {
  white-space: nowrap;
}

.tabs {
  display: flex;
}
